<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Eat-Da-Burger!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/public.js"></script>
</head>

<body>

  <div class="play-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img src="assets/img/burger.png" class="img-fluid w-100  mx-auto d-block col-sm-3 ">
          <h2 class="text-center logo">Eat-Da-Burger</h2>
        </div>
      </div>
    </div>

    {{{ body }}}

  </div>


</body>

</html>