<li class="py-2">
  <h6 class="arvo">
    {{burger_name}}
  </h6>

  <button class='devour-burger btn btn-warning' data-id="{{id}}" data-newdevour="{{complete}}">{{#if complete}}DEVOUR
    ME!{{else}}
    ORDER AGAIN!{{/if}}</button>
</li>